body{
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}
#img_logo{
	margin: -12px;
}

#container_sesion{
	margin-top: 125px;
}

/*Iconos*/
.glyphicon {
 	font-size: 1.7em;
}